body {
  margin: 0;
  padding: 0;
  color: #484848;
  font-size: 14px;
  font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1000px;
  margin-top: 30px;
  margin-bottom: 30px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@media screen and (max-width: 600px) {
  .container{
    max-width: 90%;
  }
  
}
